<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Rocket-Lan</title>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
 
  <nav class="menu-container">
    <!-- burger menu -->
    <input type="checkbox" aria-label="Toggle menu" />
    <span></span>
    <span></span>
    <span></span>
  
    <!-- logo -->
    <a href="#" class="menu-logo">
      <img src="/img/logo-rocket.png" alt="My Awesome Website"/>
    </a>
  
    <!-- menu items -->
    <div class="menu">
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/news">
            News
          </a>
        </li>
        <li>
          <a href="/start">
            Let's start
          </a>
        </li>
        <li>
          <a href="/about">
            About
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#signup">
            Sign-up
          </a>
        </li>
        <li>
          <a href="#login">
            Login
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <body>
    <div class="container">
