<%- include("partials/header") -%>

<img class="logo" src="/img/rocket-removebg-preview.png" alt="error">


    <div class="container-1">

        <div class="img-1">
          <a href=""><img class="image" src="/img/image1.jpg" alt="error"></a>  
            <a href=""><h3>The new season is out !</h3></a>
        </div>
        <div class="img-2">
           <a href=""><img class="image" src="/img/image2.png" alt="error"></a> 
            <a href=""><h3>The new season is out !</h3></a>
        </div>
        <div class="img-3">
            <a href=""><img class="image" src="/img/image3.jpg" alt="error"></a>
            <a href=""><h3>The new season is out !</h3></a>
        </div>
    
    
    </div>













<div class="clear"></div>

<%- include("partials/footer") -%>